.wraper{
    display: flex;
    position: relative;
    color: black;
}
.wraper-parent-icons{
    position: fixed;
    right: 1%;
    bottom: 3%;
    z-index: 10000;
}
.wraper-icons > *{
    font-size: 2rem !important;
}
.slider{
    border: 1px solid red;
    width: 20%;
    background-color: white;
    color:black;
}
.slider-hide{
    width: 0%;
}
.wraper-navbar{
    position: fixed;
    background-color: white;
    color: black;
    width: 100%;
}