.wraper{
    display: flex;
    position: relative;
    color: black;
}
.wraper-parent-icons{
    position: fixed;
    right: 1%;
    bottom: 3%;
    z-index: 10000;
}
.wraper-icons > *{
    font-size: 2rem !important;
}
.wraper-sidbar{
    height: 100vh;
    width: 20%;
    background-color: white;
    color:black;
    overflow: auto;
    scrollbar-width: 2px !important;
}
.wraper-sidbar-hide{
    width: 0%;
}
.wraper-navbar{
    position: fixed;
    background-color: white;
    color: black;
    width: -webkit-fill-available ;
}
